In [203]:
import json
import pandas as pd

In [204]:
def json_load_file(file):
    """
    Returns a Python's dict from a json file path.
    """
    with open(file) as json_file:
        return json.load(json_file)

In [205]:
def to_panda_dataframe(scores_json):
    data = [[student_id, *map(float, scores[:5]), scores[5]] for student_id, scores in scores_json.items()]
    df = pd.DataFrame.from_records(data, columns = ["Student ID", *[f"Question {i}" for i in range(1,7)]])
    df["Score (questions 1-5)"] = df["Question 1"] + df["Question 2"] + df["Question 3"] + df["Question 4"]
    df["Chapter"] = df["Student ID"].apply(lambda x: (int(x) - 1)%3 + 1)
    return df

In [206]:
def read_dataframe(school):
    return to_panda_dataframe(json_load_file(f"../data/manual/{school}/final_quizz_scores.json"))

In [207]:
piccard_data = read_dataframe("piccard")
beaulieu_data = read_dataframe("beaulieu")

In [208]:
piccard_data

,Student ID,Question 1,Question 2,Question 3,Question 4,Question 5,Question 6,Score (questions 1-5),Chapter
0,1,1.0,0.0,1.0,1.0,1.0,2,3.0,1
1,2,1.0,0.5,0.0,1.0,1.0,2,2.5,2
2,3,0.0,0.0,0.0,0.8,1.0,2,0.8,3
3,7,1.0,0.5,0.0,0.4,0.0,2,1.9,1
4,8,0.0,0.0,0.0,1.0,0.0,2,1.0,2
5,9,0.0,0.0,0.0,0.2,1.0,2,0.2,3
6,10,0.0,0.5,0.0,0.4,1.0,2,0.9,1
7,11,1.0,0.5,0.0,1.0,1.0,2,2.5,2
8,12,0.0,0.0,0.0,1.0,0.0,0,1.0,3
9,13,0.0,0.0,0.0,0.2,0.0,2,0.2,1
10,14,0.0,0.0,0.0,0.4,1.0,2,0.4,2
11,15,0.0,0.0,0.0,0.4,1.0,2,0.4,3

In [202]:
beaulieu_data

,Student ID,Question 1,Question 2,Question 3,Question 4,Question 5,Question 6,Score (questions 1-5),Chapter
0,1,1.0,0.0,0.0,1.0,0.0,2,2.0,1
1,2,1.0,0.0,0.0,1.0,1.0,2,2.0,2
2,3,1.0,0.5,0.0,1.0,0.0,2,2.5,3
3,4,1.0,0.0,0.0,0.2,1.0,2,1.2,1
4,5,1.0,0.0,0.5,0.4,1.0,2,1.9,2
5,6,1.0,0.0,0.0,0.2,0.0,2,1.2,3
6,7,1.0,1.0,1.0,1.0,1.0,2,4.0,1
7,8,0.0,0.0,0.0,1.0,0.0,2,1.0,2
8,9,0.0,0.0,0.0,0.6,0.0,2,0.6,3
9,10,0.0,0.0,0.0,0.0,0.0,2,0.0,1
10,11,0.0,0.0,0.0,0.2,0.0,2,0.2,2
11,12,0.0,0.0,0.0,1.0,0.0,2,1.0,3
12,13,1.0,0.5,0.0,1.0,1.0,2,2.5,1
13,14,0.0,0.5,0.0,0.6,0.0,2,1.1,2
14,15,1.0,0.5,0.5,1.0,0.0,2,3.0,3
15,16,1.0,0.5,0.5,1.0,0.0,2,3.0,1
16,17,0.0,0.0,0.0,0.0,0.0,2,0.0,2
17,18,0.0,0.0,0.0,0.0,0.0,2,0.0,3
18,19,1.0,1.0,0.0,1.0,1.0,0,3.0,1
19,20,1.0,1.0,0.0,0.2,0.0,2,2.2,2
20,21,1.0,0.5,0.5,0.6,1.0,2,2.6,3
21,22,1.0,0.0,0.0,1.0,0.0,2,2.0,1