In [47]:
import json
import pandas as pd

In [48]:
def json_load_file(file):
    """
    Returns a Python's dict from a json file path.
    """
    with open(file) as json_file:
        return json.load(json_file)

In [49]:
def to_panda_dataframe(scores_json):
    data = [[student_id, *map(float, scores[:5]), scores[5]] for student_id, scores in scores_json.items()]
    df = pd.DataFrame.from_records(data, columns = ["Student ID", *[f"Question {i}" for i in range(1,7)]])
    df["Score (questions 1-5)"] = df["Question 1"] + df["Question 2"] + df["Question 3"] + df["Question 4"]
    df["Chapter"] = df["Student ID"].apply(lambda x: (int(x) - 1)%3 + 1)
    df["Method"] = df["Student ID"].apply(lambda x: 0 if int(x) <= 9 else 1)
    return df

In [50]:
def read_dataframe(school):
    return to_panda_dataframe(json_load_file(f"../data/manual/{school}/final_quizz_scores.json"))

In [51]:
piccard_data = read_dataframe("piccard")
beaulieu_data = read_dataframe("beaulieu")

In [55]:
pd.concat([piccard_data, beaulieu_data]).groupby("Method")["Score (questions 1-5)"].describe()

        count      mean       std  min  25%  50%   75%  max
Method
0        15.0  1.720000  1.009385  0.2  1.0  1.9  2.25  4.0
1        19.0  1.368421  1.153282  0.0  0.3  1.0  2.50  3.0